/* =components
------------------------------------------------------------------------------*/

/* =list */

.content {
	margin-bottom: 32px;
}

.posts .post {
	padding: 16px 0 32px 0;
	border-bottom: 1px solid #eee;
}

.posts .post:first-child {
	padding-top: 0;
}

/* post header */

.post-header {
	margin-bottom: 16px;
}

.post-title {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 1.4;
}

.post-title a {
	color: var(--gray-dark);
}

.post-title a:hover {
	color: var(--orange);
}

.post-subtitle {
	font-size: 18px;
	color: #777;
}

.post-meta {
	margin: 4px 0 16px 0;
}

.post-meta a:hover, .post-tags a:hover {
	text-decoration: underline;
}

.post-date, .post-categories, .post-comments {
	display: inline-block;
	margin-right: 16px;
}

/* =post-content */

.posts .post-content, .posts .post-content-reverse {
	margin-bottom: 32px;
}

.posts .post-content, .posts .post-content-reverse {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.posts .post-content-reverse {
	flex-direction: row-reverse;
}

.post-image-link {
	overflow: hidden;
	display: block;
	line-height: 0;
	background: var(--gray-dark);
}

.post-image-link img {
	transition: all .3s;
}

.post-image-link:hover img {
	transform: scale(1.05);
	opacity: .9;
}

.post-image-link, .post-summary {
	max-width: calc(50% - 8px);
}

.post-summary p {
	margin-bottom: 16px;
	text-align: justify;
}

.post-content a:hover {
	text-decoration: underline;
}

/* post footer */

.post-readmore-link {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 3px;
	background: var(--gray-dark);
	color: white;
}

.post-readmore-link:hover {
	background: var(--orange);
}

.post-content .post-readmore-link:hover {
	text-decoration: none;
}

/* =pagination */

.pagination {
	display: flex;
	align-items: stretch;
	margin-bottom: 16px;	
}

.pagination .page-item, .pagination .page-link {
	display: block;
	margin-right: 4px;
}

.pagination .page-link {
	padding: 8px 16px;
	background: var(--gray-dark);
	color: #fff;
}

.pagination .page-link:hover {
	background: var(--orange);
}

/* =single */

.single .post-header,
.single .post-meta,
.single .post-content {
	max-width: 740px;
	margin: 0 auto;
}

.post-hero {
	text-align: center;
}

.single .post-title,
.single .post-content,
.single .post-subtitle {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.single .post-header {
	margin: 32px auto;
}

.single .post-title {
	font-size: 36px;
	line-height: 1;
}

.single .post-subtitle {
	font-size: 32px;
	line-height: 1.2;	
}

.single .post-meta {
	font-size: 18px;
	margin-bottom: 32px;
}

/* --- */

.single .post {
	font-size: 24px;
}

.single .post h2,
.single .post h3,
.single .post h4,
.single .post h5,
.single .post h6 {
	font-family: sans-serif;
	font-weight: bold;
}

.single .post p,
.single .post blockquote,
.single .post li {
	margin: 0 0 32px 0;
}

.single .post h2 {
	font-size: 40px;
	margin-bottom: 8px;
}

.single .post h3 {
	font-size: 32px;
	margin-bottom: 4px;
}

.single .post h4 {
	font-size: 24px;
}

.single .post h5 {
	font-size: 18px;
}

.single .post h6 {
	font-size: 14px;
}

.single .post blockquote,
.single .post ol,
.single .post ul {	
	padding: 0 0 0 32px;
}

.single .post blockquote {	
	border-left: 5px solid var(--gray-dark);
	font-style: italic;
}

.single .post ol {
	list-style: decimal;
}

.single .post ul {
	list-style: disc;
}

.single .post hr {
	display: block;
	margin: 32px 0 72px 0;
	letter-spacing: 18px;
	border: none;
	height: 0;
	text-align: center;
}

.single .post hr::before {
	content: '...';
}