/* =components
------------------------------------------------------------------------------*/

/* =pagination */

.wp-pagenavi {
	display: flex;
	align-items: stretch;
	margin-bottom: 32px;	
}

.wp-pagenavi a,
.wp-pagenavi span {
	display: block;
	margin-right: 4px;
	padding: 8px 16px;
	background: var(--gray-dark);
	color: #fff;
}

.wp-pagenavi a:hover,
.wp-pagenavi .current {
	background: var(--orange);
}

/* =scroll-top */

.scroll-top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 16px;
	right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 3px;
	background: var(--gray-dark);
	color: white;
	font-size: 18px;
}

.scroll-top:hover {
	background: var(--orange);
	text-decoration: none;
}

.lg-backdrop {
	background: rgba(0, 0, 0, .9) !important;
}

/* =media */

@media(max-width: 700px) {
	.wp-pagenavi .wp-pagenavi {
		display: block;
		text-align: center;
	}

	.wp-pagenavi a,
	.wp-pagenavi span {
		display: block;
		margin-bottom: 4px;
	}

	.scroll-top {
		display: none;
	}
}