body {
	margin: 10px 15px 10px;
	font: 14px 'source-sans', 'open sans', 'segoe ui', sans-serif !important;
	background: #1e1914;
	line-height: 24px !important;
	color: #fec;
}

body:before, body:after {
	display: table;
	clear: both;
	content: '';
}

::-webkit-selection {
	background: #bf6927;
	color: #fff;
}

::-moz-selection{
	background: #bf6927;
	color: #fff;
}

::-o-selection {
	background: #bf6927;
	color: #fff;
}

::selection {
	background: #bf6927;
	color: #fff;
}

a {
	color: #ff6927;
	text-decoration: none;
}

img {
	border: 5px solid #44321a !important;
}

.wp-caption-dd {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, pre, address {
	margin: 0 0 15px 0;
}

ol, ul {
	padding-left: 20px;
}

blockquote {
	overflow: hidden;
	margin:  0 0 20px;
	padding: 15px;
	background: #412e1b;
	border-left: 4px solid #fec;
	font: italic 16px sans-serif;}

blockquote p {
	margin: 0;
	line-height: 1.5;
}

hr {
	margin: 20px 0 15px;
	border: none;
	border-bottom: 1px solid #eee;
}

.alignnone, .alignleft, .aligncenter, .alignright {
	margin-bottom: 20px !important;
}

.alignleft {
	margin-right: 30px !important;
}

.alignright {
	margin-left: 30px !important;
}