/* =elements
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--red);
    color: #fff;
}

body {
    font: 14px/1.5 'Segoe UI', Roboto, sans-serif;
    color: var(--gray-dark);
}

a {
    text-decoration: none;
    color: var(--orange);
    transition: all .2s;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
