/* =elements
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--red);
    color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
    font: 14px/1.5 Roboto, 'Segoe UI', sans-serif;
    color: var(--gray-dark);
}

a {
    text-decoration: none;
    color: var(--orange);
    transition: all .2s;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figure a, .archive .post-image-link {
    overflow: hidden;
    display: block;
    line-height: 0;
    background: var(--gray-dark);
}

figure a img, .archive .post-image-link img {
    transition: all .3s;
}

figure a:hover img, .archive .post-image-link:hover img {
    transform: scale(1.05);
    opacity: .9;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

/* =forms */

button,
[type='button'],
[type='submit'],
.button {
	display: inline-block;
	margin: 0 8px;
	padding: 8px 16px;
	background: var(--gray-dark);
	border: none;
	border-radius: 3px;
	font: 14px;
	text-decoration: none;
	color: white;
	transition: all .2s;
}

button:hover,
[type='button']:hover,
[type='submit']:hover,
.button:hover {
	background: var(--orange);
	cursor: pointer;
}

[type='text'],
[type='email'],
textarea {
	border: 1px solid #ddd;
	background: #fff;
	padding: 8px;
	transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

[type='text']:focus,
[type='email']:focus,
textarea:focus {
	outline: none;
	border-color: var(--orange);
	box-shadow: 0 0 0 2px rgba(240, 100, 65, .3);
}