/* =container
------------------------------------------------------------------------------*/

.container {
	max-width: 1160px;
	margin: 0 auto;
}

/* =header
------------------------------------------------------------------------------*/

.home .header,
.archive .header {
	margin-bottom: 16px;
}


/* =nav
------------------------------------------------------------------------------*/

.nav > .container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* =nav-top
------------------------------------------------------------------------------*/

.nav-top {
	padding: 16px 0;
	background: #1f1f1f;
}

.nav-top > .container {
	justify-content: flex-end;
}

/* social */

.nav-top .social .link {
	margin-left: 16px;
	color: var(--gray-light);
}

.nav-top .social .link:hover {
	color: var(--orange);
}

/* search */

.nav-top .search {
	display: flex;
	position: relative;
	margin-left: 16px;
}

.nav-top .search .text,
.nav-top .search .button {
	height: 24px;
	padding: 4px;
}

.nav-top .search .text {
	width: 200px;	
	border: 1px solid #eee;
	color: var(--gray-dark);
}

.nav-top .search .button {
	width: 48px;
	margin: 0;
	padding: 0;
	background: #333;
	border: 1px solid transparent;
	border-radius: 0;
	color: white;
	transition: all .2s;
}

.nav-top .search .button:hover {
	cursor: pointer;
	background: var(--orange);
}

/* =nav-middle
------------------------------------------------------------------------------*/

.nav-middle {
	padding-bottom: 16px;
	background: #1f1f1f;
}

.nav-middle > .container {
	justify-content: space-between;
}

/* =logo */

.nav-middle .logo {
	margin-top: -32px;
	padding: 0 16px;
}

.nav-middle .logo-img {
	height: 80px;
}

.nav-middle-adsense {
	display: block;
	width: 728px;
	height: 90px;
	background: #623e1b;
}

/* =nav-bottom
------------------------------------------------------------------------------*/

.nav-bottom {
	width: 100%;
	background: #262626;
}

.nav-bottom:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.nav-bottom-fixed {
	position: fixed;
	top: 0;
	max-width: 1200px;
}

/* menu */

.menu {
	display: flex;
}

.menu > .menu-item {
	position: relative;
}

.menu > ul > .menu-item:first-of-type {
	border-top: 1px solid #623e1b;
}

.menu .menu-item a {
	display: flex;
	align-items: center;
	padding: 0 16px;
	line-height: 48px;
	white-space: nowrap;
	color: #fff;
}

.menu > .menu-item > a {
	margin-left: 1px;
}

.menu-item a:hover,
.menu-item a:focus,
.current-menu-item > a {
	background: var(--orange);
	color: #fff;
}

.menu > .menu-item-has-children a::after {
	display: inline-block;
	margin-left: 8px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

/* icon */

.menu > .menu-item-has-children > a::after {
	content: '\f078';
}

.menu > .menu-item-has-children .menu-item-has-children > a::after {
	position: absolute;
	right: 16px;
	content: '\f054';
}

/* hover */

.menu .menu-item:hover > ul {
	display: block;
}

/* dropdown */

.menu ul,
.menu ul ul {
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 10;
	min-width: 300px;
	padding: 0;
	background: #333;
}

/* drop-left */

.menu ul ul,
.menu ul ul ul {
	top: 0;
	left: 300px;
}

.menu ul > .menu-item {
	float: none;
	position: relative;
}

.menu ul > .menu-item a {
	border-top: 1px solid rgba(0, 0, 0, .2);
	line-height: 48px;
}

.menu ul > .menu-item:only-child a {
	border-color: rgba(255, 255, 255, 0);
}

.menu ul > .menu-item > a > .icon {
	position: absolute;
	top: 35%;
	right: 10px;
}

/* toggle */

.menu-toggle {
	display: none;
	/* display: block; */
	width: 48px;
	height: 48px;
	border: none;
	background: transparent;
	font-size: 16px;
	color: #fff;
}

.menu-toggle:hover {
	cursor: pointer;
}

/* =main
------------------------------------------------------------------------------*/

.home .main > .container,
.archive .main > .container {
	display: grid;
	grid-template-columns: auto 362px; /* booking */
	/* grid-template-columns: auto 332px; */
	grid-column-gap: 32px;
	padding: 0 0 0 16px;
	margin: 0 auto 16px;
}

.aside {
	background: gray;
	padding: 0 16px;
}

.single .main > .container {
	max-width: none;
}

/* =footer
------------------------------------------------------------------------------*/

.footer {
	padding: 16px 0;
	background: var(--gray-dark);
	text-align: center;
	color: white;
}

/* =scroll-top */

.scroll-top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 16px;
	right: 16px;
	width: 48px;
	height: 48px;
	border-radius: 3px;
	background: var(--gray-dark);
	color: white;
	font-size: 18px;
}

.scroll-top:hover {
	background: var(--orange);
}

/* =media
------------------------------------------------------------------------------*/

/* @media(max-width: 1160px) {
	body {
		background: red;
	}
} */