// colors

$black:            #333;
$gray:             #ccc;
$gray-light:       #ddd;
$gray-dark :       #555;
$white:            #fff;
$orange:           #d27b39;
$orange-light:     #ff9027;
$orange-dark:      #944c30;
$brown:            #1e1914;
$blue:             #4682b4;
$cyan:             #008b8b;
$gold:             #ffd700;
$gray:             #808080;
$green:            #719e14;
$pink:             #db7093;
$red:              #dc143c;
$yellow:           #ffcc5c;