/* =aside */

.aside .widget {
	margin-bottom: 32px;
}

.aside .widget-title {
	margin: 0;
	padding: 16px;
	font: bold 18px Roboto, 'Segoe UI', sans-serif;
	text-transform: uppercase;
	background: var(--green);
	color: #fff;
}

.aside .widget ul {
	margin: 0;
}

.aside .widget li a {
	display: block;
	margin-bottom: 4px;
	padding: 16px;
	font-size: 14px;
	background: #f8f8f8;
}

.aside .widget li a:hover {
	text-decoration: underline;
	text-decoration: none;
	background: var(--orange);
	color: #fff;
}

.aside .widget .social i {
	margin-right: 8px;
	font-size: 18px;
	
}

.aside .widget figure {
	margin-bottom: 8px;
}

.aside .widget select {
	width: 100%;
	margin-top: 16px;
}

.aside .widget [for='archives-dropdown-2'] {
	display: none;
}

/* Plugin */

.aside .wpp-list li {
	padding: 16px 0 16px;
	border-bottom: 1px solid var(--gray-light);
	font-weight: bold;
}

.aside .widget .wpp-list a {
	background: none;
	padding: 0;
	color: var(--gray-dark);
}

.aside .widget .wpp-list a:hover,
.aside .wpp-list .current a {
	background: transparent;
	color: var(--orange);
}

.aside .wpp-list .wpp-thumbnail {
	margin-right: 8px;
}

/* =media
------------------------------------------------------------------------------*/

@media(max-width: 1280px) {
	.aside {
		display: none;
	}
}

@media(max-width: 1280px) {
	.aside {
		display: none;
	}
}