/* =footer
------------------------------------------------------------------------------*/

.footer .disclaimer {
	padding: 22px 0;
	background: #232323;
	text-align: center;
	color: #fff;
}

.footer .disclaimer a:hover {
	text-decoration: underline;
	color: #fff;
}

.footer .widgets {
	background: var(--gray-dark);
	color: #fff;
}

.footer .widgets-container {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

.footer .widget-title {
	margin: 0 0 8px;
	font-size: 18px;
}

@media(max-width: 720px) {
	.footer .widgets-container {
		flex-direction: column;
	}

	.footer .widget {
		margin-bottom: 16px;
		text-align: center;
	}
}