/* =nav
------------------------------------------------------------------------------*/

.nav > .container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* =nav-top
------------------------------------------------------------------------------*/

.nav-top {
	padding: 16px 0;
	background: #1f1f1f;
}

.nav-top > .container {
	justify-content: flex-end;
}

/* social */

.nav-top .social .link {
	padding: 16px;
	color: white;
}

.nav-top .social .link:hover {
	color: var(--orange);
}

/* search */

.nav-top .search {
	display: flex;
	position: relative;
}

.nav-top .search-text,
.nav-top .search-button {
	height: 24px;
	padding: 4px;
}

.nav-top .search-text {
	width: 200px;	
	color: var(--gray-dark);
	border-color: #fff;
	border-width: 1px;
	border-radius: 0;
}

.nav-top .search-text:focus {
	box-shadow: none;
	border-color: var(--orange);
}

.nav-top .search-button {
	width: 48px;
	margin: 0;
	padding: 0;
	background: #333;
	border: 1px solid transparent;
	border-radius: 0;
	color: white;
	transition: all .2s;
}

.nav-top .search-button:hover {
	cursor: pointer;
	background: var(--orange);
}

/* =nav-middle
------------------------------------------------------------------------------*/

.nav-middle {
	padding-bottom: 16px;
	background: #1f1f1f;
}

.nav-middle > .container {
	justify-content: space-between;
}

/* =logo */

.nav-middle .logo {
	margin: -32px 16px 0 0;
}

.nav-middle .logo-img {
	height: 80px;
}

.nav-middle .adsense {
	display: block;
	width: 728px;
	height: 90px;
	background: transparent;
	color: var(--gray-light);
}

/* =nav-bottom
------------------------------------------------------------------------------*/

.nav-bottom {
	width: 100%;
	background: #262626;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.nav-bottom:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.nav-bottom-fixed {
	position: fixed;
	top: 0;
	max-width: 1200px;
}

/* =menu */

.menu {
	display: flex;
	margin: 0;
}

.menu > .menu-item {
	position: relative;
}

.menu > ul > .menu-item:first-of-type {
	border-top: 1px solid #623e1b;
}

.menu .menu-item a {
	display: flex;
	align-items: center;
	padding: 0 16px;
	line-height: 48px;
	white-space: nowrap;
	color: #fff;
}

.menu > .menu-item > a {
	margin-right: 1px;
}

.menu-item a:hover,
.menu-item a:focus,
.current-menu-item > a {
	background: var(--orange);
	color: #fff;
}

.menu > .menu-item-has-children a::after {
	display: inline-block;
	margin-left: 8px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

/* icon */

.menu > .menu-item-has-children > a::after {
	content: '\f078';
}

.menu > .menu-item-has-children .menu-item-has-children > a::after {
	position: absolute;
	right: 16px;
	content: '\f054';
}

/* hover */

.menu .menu-item:hover > ul {
	display: block;
}

/* dropdown */

.menu ul,
.menu ul ul {
	display: none;
	position: absolute;
	top: 48px;
	left: 0;
	z-index: 10;
	min-width: 300px;
	padding: 0;
	background: #333;
}

/* drop-left */

.menu ul ul,
.menu ul ul ul {
	top: 0;
	left: 300px;
}

.menu ul > .menu-item {
	float: none;
	position: relative;
}

.menu ul > .menu-item a {
	border-top: 1px solid rgba(0, 0, 0, .2);
	line-height: 40px;
}

.menu ul > .menu-item:only-child a {
	border-color: rgba(255, 255, 255, 0);
}

.menu ul > .menu-item > a > .icon {
	position: absolute;
	top: 35%;
	right: 10px;
}

/* =nav-responsible
------------------------------------------------------------------------------*/

.nav-toggle {
	display: flex;
	display: none;
	order: 4;
}

.nav-toggle button {
	width: 48px;
	height: 48px;
	margin: 0;
	background: transparent;
	border: none;
	border-radius: 3;
	font-size: 16px;
	color: #fff;
}

.nav-toggle button:hover, 
.nav-toggle button:active {
	cursor: pointer;
	background: var(--orange);
}

/* =media
------------------------------------------------------------------------------*/

@media(max-width: 720px) {
	/* header */
	.header {
		display: flex;
		height: 80px;
		padding: 16px;
		background: #1f1f1f;
	}

	/* nav */
	.nav {
		background: transparent;
		padding: 0;
	}

	.nav .container {
		padding: 0;
	}
	
	/* nav-middle */
	.nav-middle {
		order: 1;
	}

	.nav-middle .adsense {
		display: none;
	}

	.nav-middle .logo {
		margin: 0;
		padding: 0;
	}

	.nav-middle .logo-img {
		height: 43px;
		margin: 0;
	}

	/* nav-top */

	.nav-top {
		order: 2;
		flex: auto;
		height: 48px;
	}

	.nav-top .social {
		display: none;
	}

	.nav-top .search {
		display: none;
		position: fixed;
		top: 45%;
		left: 0;
		z-index: 2;
		min-width: 80%;
		margin: 0 10%;
	}

	.nav-top .search-active {
		display: flex;
		justify-content: flex-end;
	}

	.nav-top .search-text,
	.nav-top .search-button {
		height: 48px;
	}

	.nav-top .search-text {
		width: 100%;
		border-width: 3px;
		font-size: 24px;
	}

	.nav-top .search-button {
		background: transparent;
		position: absolute;
		color: var(--gray);
	}

	.nav-top .search-button:hover {
		background: transparent;
	}

	.nav-top .search-toggle {
		display: block;
		width: 48px;
		height: 48px;
		background: transparent;
	}

	/* nav-bottom */
	.nav-bottom {
		order: 3;
		width: 48px;
		height: 48px;
	}

	.menu-toggle {
		display: block;
	}

	.menu-toggle:active {
		background: var(--orange);
	}

	.sticky {
		position: relative;
	}

	/* =menu */

	.menu {
		position: absolute;
		top: 80px;
		left: 0;
		z-index: 10;
		width: 100%;
		background: #1f1f1f;
	}

	.menu-custom-menu-container {
		width: 100%;
	}

	.menu {
		display: none;
	}

	.menu-active {
		display: block;
	}

	.menu > .menu-item > a {
		border-top: 1px solid rgba(0, 0, 0, .2); 
	}

	.menu .menu-item:hover > ul {
		display: none;
	}

	.menu ul {
		display: none;
		position: initial;
		min-width: 0;
	}

	.menu > .menu-item-has-children a::after {
		content: '';
	}

	.nav-toggle {
		display: flex;
	}
}

.slider {
	height: 400px;
}

@media(max-width: 480px) {
	.sticky {
		display: none;
	}
}