/* =elements
------------------------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--red);
    color: #fff;
}

html {
	scroll-behavior: smooth;
}

body {
    font: 14px/1.5 Roboto, 'Segoe UI', sans-serif;
    color: var(--gray-dark);
}

a {
    text-decoration: none;
    color: var(--orange);
    transition: all .2s;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figure a,
.archive .post-image-link,
.archive .highlights a {
    overflow: hidden;
    display: block;
    line-height: 0;
    background: var(--gray-dark);
}

.mgl-tiles .mgl-row .mgl-box .mgl-item {
	background: var(--gray-dark);
}

figure a img, .archive .post-image-link img,
.archive .highlights a img {
    transition: all .3s;
}

figure a:hover img,
.archive .post-image-link:hover img,
.archive .highlights a:hover img {
    transform: scale(1.05);
    opacity: .9;
}

p, blockquote, ol, ul, table, figure {
	margin-bottom: 32px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.4;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

ul, ol {
    list-style: none;
}

/* table */

table {
	width: 100%;
	border-spacing: 0;
	font-family: Cambria, Georgia, serif;
}

th {
	text-align: left;
}

th, td {
	padding: 4px;
	border-bottom: 1px solid var(--gray-light);
}

/* =forms */

button,
[type='button'],
[type='submit'],
.button {
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 12px 16px;
	background: var(--gray-dark);
	border: none;
	border-radius: 3px;
	font: 14px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	transition: all .2s;
}

button:hover,
[type='button']:hover,
[type='submit']:hover,
.button:hover {
	background: var(--orange);
	cursor: pointer;
}

[type='text'],
[type='email'],
[type='search'],
textarea,
select {
	border: 2px solid #ddd;
	border-radius: 3px;
	background: #fff;
	padding: 8px;
	transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

[type='text']:focus,
[type='email']:focus,
[type='search']:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: var(--orange);
	box-shadow: 0 0 0 2px rgba(240, 100, 65, .3);
}

hr {
	display: block;
	margin: 64px 20rem;
	height: 0;
	border: none;
	border-bottom: 2px solid var(--gray);
}

/* =utilities
------------------------------------------------------------------------------*/

/* =animation */

@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 32px, 0);
	}
	
	to { 
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* =media
------------------------------------------------------------------------------*/

/* @media (max-width: 720px) {
	figure a, .archive .post-image-link {
		background: transparent;
	}

	figure a:hover img, .archive .post-image-link:hover img {
		transform: none;
	}
} */