.swiper-container, .swiper-link {
	display: flex;
	align-items: center;
	width: 100%;
	height: 400px;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1f1f1f;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.swiper-button-prev,
.swiper-button-next {
	width: 60px !important;
	height: 60px !important;
	margin-top: -33px !important;
	transition: all .1s;
}

.swiper-button-prev {
	left: 0 !important;
}

.swiper-button-next {
	right: 0 !important;
}

.swiper-button-prev:active,
.swiper-button-next:active {
	transform: scale(.9);	
}

.swiper-place, .swiper-title {
	color: #fff;
}

.swiper-text {
	min-width: 1000px;
	margin: 0 auto;
	padding: 0 32px;
}

.swiper-place {
	margin-bottom: 24px;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0;
	color: var(--orange);
}

.swiper-title {
	font-size: 30px;
}

@media(max-width: 720px) {
	.swiper-container {
		display: none;
	}
}