/* =archive
------------------------------------------------------------------------------*/

.archive .posts {
	margin-bottom: 32px;
}

.archive .post {
	padding: 24px 0 32px 0;
	border-bottom: 1px solid #eee;
}

.archive .post:first-child {
	padding-top: 0;
}

/* =post-header */

.archive .post-header {
	margin-bottom: 4px;
}

.archive .post-title {
	margin: 0;
	padding: 0;
	font: bold 30px Arial, 'Segoe UI', sans-serif;
	line-height: 1.4;
}

.archive .post-title a {
	color: var(--gray-dark);
}

.archive .post-title a:hover {
	color: var(--orange);
}

.archive .post-subtitle {
	font-size: 18px;
	color: #777;
}

.archive .post-meta {
	margin: 0 0 24px 0;
}

.archive .post-meta a:hover {
	text-decoration: underline;
}

.archive .post-date,
.archive .post-categories,
.archive .post-comments {
	display: inline-block;
	margin-right: 16px;
}

/* =post-content */

.archive .post-content,
.archive .post-content-reverse {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.archive .post-content-reverse {
	flex-direction: row-reverse;
}

.archive .post-image-link,
.archive .post-summary {
	max-width: calc(50% - 8px);
}

.archive .post-image-link {
	display: block;
	line-height: 0;
}

.archive .post-summary p {
	margin-bottom: 16px;
	font-family: 'Segoe UI', Arial, sans-serif;
	line-height: 1.7;
}

.archive .post-summary p a:hover {
	text-decoration: underline;
}

/* =readmore */

.archive .post-readmore-link {
	margin: 0;
}

.archive .post-readmore-link:hover {
	background: var(--orange);
}

.archive .post-readmore-link::after {
	content: ' »';
}

/* =media */

@media(max-width: 700px) {
	.archive .post {
		text-align: center;
	}

	.archive .post-title a {
		display: block;
	}

	.archive .post-date,
	.archive .post-categories {
		display: block;
		margin-bottom: 4px;
	}

	.archive .post-comments {
		display: none;
	}

	.archive .post-meta {
		margin-top: 16px;
	}

	.archive .post-content,
	.archive .post-content-reverse {
		display: block;
	}

	.archive .post-image-link,
	.archive .post-summary {
		max-width: 100%;
	}

	.archive .post-image-link {
		margin-bottom: 16px;
		background: linear-gradient(to right, white 0%, var(--gray-light) 50%, white 100%);
	}

	.archive .post-summary p {
		text-align: left;
	}

	.archive .post-readmore-link {
		width: 100%;
		padding: 16px;
		text-transform: uppercase;
	}

	.archive .post-readmore-link::after {
		content: '';
	}
}