/* =archive
------------------------------------------------------------------------------*/

.archive .posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.archive .post {
	overflow: hidden;
	position: relative;
	max-width: calc(50% - 16px);
	height: 632px;
	padding: 18px 0 32px 0;
	margin-bottom: 14px;
	border-bottom: 1px solid #eee;
}

.archive .post:nth-child(9),
.archive .post:nth-child(10) {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.archive .wp-pagenavi {
	padding-top: 32px;
	border-top: 1px solid #eee;
}

.archive .post-image {
	overflow: hidden;
	margin-bottom: 12px;
	height: 240px;
	background: var(--gray-dark);
}

/* post-header */

.archive .post-header,
.archive .post-title,
.archive .post-subtitle  {
	margin: 0 0 4px;
}

.archive .post-title {
	padding: 0;
	font-size: 24px;
	line-height: 1.2;
}

.archive .post-title a {
	color: var(--gray-dark);
}

.archive .post-title a:hover {
	color: var(--orange);
}

.archive .post-subtitle {
	font-size: 18px;
	font-weight: normal;
	color: #777;
}

.archive .post-meta {
	margin: 8px 0 16px 0;
	color: #999;
}

.archive .post-meta a {
	background: #f8f8f8;
	padding: 4px 8px;
}

.archive .post-meta a:hover {
	color: #fff;
	background: var(--orange);
}

.archive .post-date,
.archive .post-categories {
	display: inline-block;
	margin-right: 8px;
}

.archive .post-date {
	margin-bottom: 8px;
}

.archive .post-categories {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.archive .post-categories a {
	margin-right: 2px;
	border-radius: 3px;
}

.archive .post-summary {
	position: relative;
	height: 192px;
	line-height: 1.8;
	text-align: justify;
}

.archive .post-summary a:hover {
	text-decoration: underline;
}

.archive .post-summary p {
	margin: 0;
}

.archive .post::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: linear-gradient(to top, #fff 80%, rgba(255, 255, 255, 0) 100%);
}

/* =readmore */

.archive .post-readmore {
	position: absolute;
	bottom: 32px;
	z-index: 1;
	margin: 0;
}

.archive .post-readmore:hover {
	background: var(--orange);
	text-decoration: none;
}

.archive .post-readmore::after {
	content: ' »';
}

/* =media */

@media(max-width: 1280px) {
	.archive .post-image {
		height: 200px;
	}

	.archive .post-categories {
		display: none;
	}
}

@media(max-width: 720px) {
	.archive .posts {
		flex-direction: column;
		margin-bottom: 0;
	}

	.archive .post,
	.archive .post:nth-child(9),
	.archive .post:nth-child(10) {
		max-width: 100%;
		height: auto;
		margin-bottom: 32px;
		padding: 0 0 32px;
		border-bottom: 1px solid #eee;
	}

	.archive .post:last-child {
		margin-bottom: 8px;
		border: none;
	}

	.archive .post::after {
		display: none;
	}

	.archive .post-image {
		height: auto;
		background: none;
		text-align: center;
	}

	.archive .post-image-link {
		background: none;
	}

	.archive .post-header {
		margin: 0;
		text-align: center;
	}

	.archive .post-title {
		margin-bottom: 8px;
	}

	.archive .post-title a {
		display: block;
	}

	.archive .post-subtitle {
		margin-bottom: 0;
	}

	.archive .post-meta {
		margin: 8px 0;
		text-align: center;
	}

	.archive .post-date {
		display: block;
		margin: 0;		
	}

	.archive .post-summary {
		margin-bottom: 16px;
	}

	.archive .post-readmore {
		position: static;
		padding: 16px;
		text-transform: uppercase;
	}

	.archive .post-summary {
		height: auto;
	}

	.wp-pagenavi a, .wp-pagenavi span {
		margin: 0;
	}
}