.page-title {
	margin: 0 0 16px;
}

.page-content {
	font-size: 16px;
}

.page-content h2:first-child {
	margin-top: 0;
}

.page-content h2 {
	margin-top: 48px;
	font-size: 24px;
}

.page-content p {
	margin: 0 0 32px;
}

.page-content ul {
	padding-left: 16px;
}

.page-content li {
	list-style: disc;
}

.page-content .mb16 li {
	margin-bottom: 16px;
}

.page-content a:hover {
	text-decoration: underline;
}


/* contact */

.page .wpcf7 {
	margin-bottom: 32px;
}

.page .wpcf7 p {
	margin-bottom: 16px;
}

.page .wpcf7 label {
	margin-bottom: 8px;
}

.page .wpcf7 .wpcf7-text,
.page .wpcf7 .wpcf7-textarea {
	width: 50%;
}

.page .wpcf7 .wpcf7-submit {
	margin: 0 8px 0 0;
	padding: 12px 24px;
}

@media(max-width: 1280px) {
	.page .wpcf7 .wpcf7-text,
	.page .wpcf7 .wpcf7-textarea {
		width: 100%;
	}

	.page .wpcf7 p:last-of-type {
		text-align: right;
	}
}