/* =search
------------------------------------------------------------------------------*/

.search-message {
	margin-bottom: 16px;
}

.search .post {
	margin-bottom: 32px;
}

.search .post a {
	color: var(--orange);
}

.search .post a:hover {
	text-decoration: underline;
}