/* =single
------------------------------------------------------------------------------*/

.single .main .container {
	display: grid;
	grid-template-columns: 720px 330px;
	grid-column-gap: 32px;
	justify-content: center;
	max-width: 1240px;
	animation: 1s fade-in-up;
}

.single .post {
	margin: 0 auto;
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 1.8;
}

.single .post-header {
	margin: 0 auto 32px;
}

.single .post-title {
	font-size: 36px;
	margin: 0;
	line-height: 1;
}

.single .post-subtitle {
	margin: 8px 0 0 0;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.2;
	color: var(--gray);
}

.single .post-date {
	font-size: 18px;
	color: var(--gray);
}

/* single elements */

.single h1,
.single h2,
.single h3,
.single h4,
.single h5,
.single h6 {
	margin: 48px 0 16px 0;
	font-family: "Noto Serif", Cambria, Georgia, serif;
}

.single .post-content a:hover {
	text-decoration: underline;
}

.post blockquote {
	margin: 0 0 32px;
	padding: 0 0 0 24px;
	border-left: 5px solid var(--gray-dark);
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}

.post ol,
.post ul {	
	padding: 0 0 0 16px;
}

.post ol {
	list-style: decimal;
}

.post ul {
	list-style: disc;
}

.post li {
	margin: 0 0 4px 0;
	padding: 0;
}

.post blockquote p {
	margin-bottom: 16px;
}

.single blockquote cite {
	font-style: normal;
	color: var(--gray);
}

/* wp-block */

.post .wp-block-button__link:hover {
	text-decoration: none;
	background: var(--orange);
}

.post .wp-block-cover-image-text {
	margin-bottom: 0;
}

/* =figure */

.single .post figure {
	position: relative;
	margin-top: 0;
}

.single .post figure a {
	display: block;
	line-height: 0;
}

.single .post figcaption {
	display: block;
	margin: 12px 0 0 0;
	background: transparent;
	color: var(--gray-dark);
	font-size: 16px;
	font-style: italic;
	text-align: center;
	line-height: 1;
}

/* =gallery */

.post .wp-block-gallery {
	margin-bottom: calc(32px - 8px);
	padding: 0;
	list-style: none;
}

.post .blocks-gallery-item {
	margin: 0 16px 16px 0;
	padding: 0;
}

.post .blocks-gallery-item figcaption {
	margin: 0;
	padding: 40px 12px 12px;
	font-family: sans-serif;
}

/* =footer */

.post-footer {
	margin-bottom: 32px;
	padding: 32px 0;
	border-top: 1px solid var(--gray-light);
	border-bottom: 1px solid var(--gray-light);
	font-family: Roboto, 'Segoe UI', Arial, sans-serif;
	text-align: center;
}

.single .post-footer h3 {
	font-family: Roboto, 'Segoe UI', Arial, sans-serif;
}

.single .post-meta {	
	margin-bottom: 32px;
}

.single .post-categories {
	display: block;
	margin: 0 0 4px 0;
}

.single .post-meta a {
	padding: 4px 8px;
	background: #f8f8f8;
	border-radius: 3px;
}

.single .post-meta a:hover {
	background: var(--orange);
	color: #fff;
	text-decoration: none;
}

/* social */

.post-social .title {
	margin: 0 0 24px;
}

.post-social .buttons {
	display: flex;
	justify-content: center;
}

.post-social .button {
	padding: 8px 16px;
}

.post-social .button i {
	margin-right: 4px;
}

.post-social .facebook {
	background-color: #3e5b98;
}

.post-social .gplus {
	background-color: #d34836;
}

.post-social .button:hover {
	text-decoration: none;
	opacity: .9;
}

/* =post-banner */

.single .post-banner {
	margin-bottom: 32px;
	padding: 0 32px;
}

.single .post-banner .title {
	margin-bottom: 32px;
}

/* =post-related */

.post-related {
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--gray-light);
}

.post-related .title {
	margin: 16px 0 24px 0;
	font: bold 24px Roboto, 'Segoe UI', sans-serif;
	text-align: center;
}

.post-related .posts {
	display: flex;
	justify-content: space-between;
}

.post-related .post {
	max-width: calc((100% - (24px * 3)) / 4);
	margin: 0 0 16px 0;
}

.post-related a,
.post-related img {
	display: block;
}

.post-related a {
	margin: 8px;
	color: var(--gray-dark);
}

.post-related a:hover {
	color: var(--orange);
}

.post-related img {
	width: 186px;
	height: 140px;
	margin-bottom: 8px;
	transition: all .2s;
}

.post-related a:hover img {
	opacity: .9;
}

.post-related .post .title {
	margin: 0;
	font: normal 14px Roboto, 'Segoe UI', sans-serif;
	text-align: center;
}

/* =comments */

.comments {
	padding: 16px;
}

.comments-number, .comment-respond {
    max-width: 400px;
    margin: 0 auto;
}

.comments-number .title {
    margin: 0;
	font-family: Roboto, 'Segoe UI', sans-serif;
}

.comment-reply-title {
	display: none;
}

/* comments form */

.comments-form {
	margin-bottom: 32px;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.form-submit {
	margin-bottom: 32px;
}

.comment-form label {
	display: block;
	margin-bottom: 4px;
}

.comment-form textarea,
.comment-form [type='text'],
.comment-form [type='email'] {
	width: 100%;
}

.comment-form .submit {
	margin: 0;
}

/* comments list */

.comments-list {
	margin-bottom: 0;
	border-top: 1px solid var(--gray-light);
}

.comments-list .comment {
	padding: 32px 0;
	border-bottom: 1px solid var(--gray-light);
}

.comments-list .comment:last-child {
	padding: 32px 0 12px;
	border-bottom: none;
}

.comments-list p {
	margin: 0;
}

.comment-meta {
	margin-bottom: 4px;
}

.comment-author,
.comment-metadata {
	display: inline-block;
	margin-right: 4px;
}

.comment-metadata a {
	color: var(--gray);
}

.comment-author, .comment-author a {
	color: var(--gray-dark);
}

/* comments hidden */

.comment-form-url,
.comments-list .says {
    display: none;
}

@media(max-width: 1280px) {
	.single .main .container {
		display: block;
		max-width: 732px;
	}

	.post-related img {
		width: 157px;
		height: 118px;
	}
}

@media(max-width: 740px) {
	.post-related {
		display: none;
	}

	.comments {
		padding: 0 32px;
	}

	.comments-number, .comment-respond {
		max-width: none;
	}
}

@media(max-width: 480px) {
	.comments {
		padding: 0;
	}

	.comments-number, .comment-respond {
		max-width: none;
	}
}