/* =single
------------------------------------------------------------------------------*/

.single .main .container {
	max-width: 732px;
	margin: 0 auto;
	padding: 0 16px;
	animation: 1s fade-in-up;
}

.single .post {
	margin: 0 auto;
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.8;
}

.single .post .post-header {
	margin: 32px auto;
}

.single .post .post-title {
	font-size: 36px;
	margin: 0;
	line-height: 1;
}

.single .post .post-subtitle {
	margin: 8px 0 0 0;
	font-size: 24px;
	font-weight: normal;
	line-height: 1.2;
	color: var(--gray);
}

.single .post .post-date {
	font-size: 18px;
	color: var(--gray);
}

/* single elements */

.single .post h1,
.single .post h2,
.single .post h3,
.single .post h4,
.single .post h5,
.single .post h6 {
	margin: 48px 0 16px 0;
	font-family: Cambria, Georgia, serif;
	font-weight: bold;
	line-height: 1.4;
}

.single .post p,
.single .post blockquote,
.single .post ol,
.single .post ul,
.single .post figure {
	margin-bottom: 32px;
}

.single .post h2 {
	font-size: 30px;
}

.single .post h3 {
	font-size: 24px;
}

.single .post h4 {
	font-size: 18px;
}

.single .post h5 {
	font-size: 16px;
}

.single .post h6 {
	font-size: 14px;
}

.single .post ol,
.single .post ul {	
	padding: 0 0 0 16px;
}

.single .post blockquote {
	margin: 0;
	padding: 0 0 0 24px;
	border-left: 5px solid var(--gray-dark);
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}

.single .post blockquote cite {
	font-style: normal;
}

.single .post ol {
	list-style: decimal;
}

.single .post ul {
	list-style: disc;
}

.single .post li {
	margin: 0 0 4px 0;
	padding: 0;
}

.single .post hr {
	display: block;
	margin: 64px 20rem;
	height: 0;
	border: none;
	border-bottom: 2px solid var(--gray);
}

.single .post a:hover {
	text-decoration: underline;
}

/* =figure */

.single .post figure {
	position: relative;
	margin-top: 0;
}

.single .post figure a {
	display: block;
	line-height: 0;
}

.single .post figcaption {
	display: block;
	margin: 12px 0 0 0;
	background: transparent;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	color: var(--gray-dark);
}

/* =guttemberg */

/* =gallery */

.single ul.wp-block-gallery {
	margin-bottom: calc(32px - 8px);
	padding: 0;
	list-style: none;
}

.single .wp-block-gallery .blocks-gallery-item {
	margin: 8px;
	padding: 0;
}


.single .wp-block-gallery .blocks-gallery-item figcaption {
	margin: 0;
	padding: 40px 12px 12px;
	font-family: sans-serif;
}

/* =footer */

.single .post-footer {
	margin-bottom: 32px;
	padding: 32px 0;
	border-top: 1px solid var(--gray-light);
	border-bottom: 1px solid var(--gray-light);
	text-align: center;
}

.single .post-meta {	
	margin-bottom: 32px;
}

.single .post-categories {
	display: block;
	margin: 0 0 4px 0;
}

/* social */

.single .post-social .title {
	margin: 0 0 24px;
}

.single .post-social .buttons {
	display: flex;
	justify-content: center;
}

.single .post-social .button i {
	margin-right: 4px;
}

.single .post-social .facebook {
	background-color: #3e5b98;
}

.single .post-social .gplus {
	background-color: #d34836;
}

.single .post-social .button:hover {
	text-decoration: none;
	opacity: .9;
}

/* =post-banner */

.single .post-banner {
	margin-bottom: 32px;
	padding: 0 32px;
}

.single .post-banner .title {
	margin-bottom: 32px;
}

/* =post-related */

.single .post-related {
	margin-bottom: 32px;
	padding-bottom: 32px;
	border-bottom: 1px solid var(--gray-light);
}

.single .post-related .title {
	margin-bottom: 24px;
	font: bold 24px Cambria, Georgia, serif;
	text-align: center;
}

.single .post-related .posts {
	display: flex;
}

.single .post-related a,
.single .post-related img {
	display: block;
}

.single .post-related a {
	margin: 8px;
	color: var(--gray-dark);
}

.single .post-related a:hover {
	color: var(--orange);
}

.single .post-related img {
	margin-bottom: 8px;
	transition: all .2s;
}

.single .post-related a:hover img {
	opacity: .9;
}

.single .post-related .post .title {
	margin: 0;
	font: normal 14px Calibri, 'Segoe UI', sans-serif;
	text-align: center;
}

/* =comments */

.comments-number, .comment-respond {
    max-width: 400px;
    margin: 0 auto;
}

.comments-number .title {
    margin-bottom: 24px;
}

/* comments form */

.comments-form {
	margin-bottom: 32px;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.form-submit {
	margin-bottom: 32px;
}

.comment-form label {
	display: block;
	margin-bottom: 4px;
}

.comment-form textarea,
.comment-form [type='text'],
.comment-form [type='email'] {
	width: 100%;
}

.comment-form .submit {
	margin: 0;
}

/* comments list */

.comments-list,
.comments-list li {
	margin-bottom: 32px;
}

.comments-list {
	padding-top: 32px;
	border-top: 1px solid var(--gray-light);
}

.comment-meta {
	margin-bottom: 4px;
}

.comment-author,
.comment-metadata {
	display: inline-block;
	margin-right: 4px;
}

.comment-metadata a {
	color: var(--gray);
}

.comment-author, .comment-author a {
	color: var(--gray-dark);
}

/* comments hidden */

.comment-form-url,
.comments-list .says {
    display: none;
}

/* =aside */

.single .aside {
	display: none;
}