/* =margin
------------------------------------------------------------------------------*/

.m0 {
	margin: 0;
}

.mt0 {
	margin-top: 0;
}

.mr0 {
	margin-right: 0;
}

.mb0 {
	margin-bottom: 0;
}

.ml0 {
	margin-left: 0;
}

.m16 {
	margin: 16px;
}

.mt16 {
	margin-top: 16px;
}

.ml16 {
	margin-left: 16px;
}

.mr16 {
	margin-right: 16px;
}

.mb16 {
	margin-bottom: 16px;
}

/* =padding
------------------------------------------------------------------------------*/

.p0 {
	padding: 0;
}

.pt0 {
	padding-top: 0;
}

.pr0 {
	padding-right: 0;
}

.pb0 {
	padding-bottom: 0;
}

.pl0 {
	padding-left: 0;
}

.p16 {
	padding: 16px;
}

.pt16 {
	padding-top: 16px;
}

.pr16 {
	padding-right: 16px;
}

.pb16 {
	padding-bottom: 16px;
}

.pl16 {
	padding-left: 16px;
}

/* =text-align
------------------------------------------------------------------------------*/

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.taj {
	text-align: justify;
}

.tdu {
	text-decoration: underline;
}